:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #242424;
  color: #fafafa;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

main {
  margin: auto;
  width: fit-content;
}

.wrapper {
  background-color: #1c1c1c;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5em;
  padding: 1.5em;
  width: fit-content;
}

.components-container {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.button {
  border-radius: 2px;
  border: none;
  padding: 0.5em 1.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #b6b6b6;
  cursor: pointer;
  transition: 0.3s;
  color: #1c1c1c;
}
.button:hover {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.6);
}

.button:active {
  scale: 0.96;
  box-shadow: none;
}

.badge {
  user-select: none;
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 0.25em 1.4em;
  font-size: 0.85em;
  font-weight: 500;
  font-family: inherit;
  background-color: #b6b6b6;
  color: #1c1c1c;
}

.button-square,
.badge-square {
  border-radius: 0.25em;
}

.button-pill,
.badge-pill {
  border-radius: 1em;
}

.button-grey,
.badge-neutral {
  background-color: #b6b6b6;
}

.button-red {
  background-color: #f87171;
}

.button-green {
  background-color: #4ade80;
}

.button-blue {
  background-color: #3b82f6;
}

.badge-success {
  background-color: #bbf7d0;
  color: #052e16;
}

.badge-warning {
  background-color: #fde68a;
  color: #451a03;
}

.badge-error {
  background-color: #fecaca;
  color: #450a0a;
}
